.login-container {
  margin: 10px 0px;
  position: relative;
  text-align: left;
  min-width: 300px;
  img {
    margin: 100px auto 20px;
    max-width: 200px;
    display: block;
  }
}

.form-group {
  text-align: left;
  max-width: 300px;
  font-size: small;
  small {
    font-size: x-small;
    text-align: right;
    padding-right: 4px;
  }
}

.login-buttons {
  text-align: right;
  button {
    margin: 10px 5px;
  }
}
