.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .div-form {
    height: 800px;
    background: #485669;
    border-radius: 10px;
    box-shadow: 0 0 100px black;

    form {
      width: 500px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 20px;

      img {
        width: 300px;
        margin: 100px;
      }

      input {
        font-size: 20px;
        border-color: white;
        border-width: 1px;
        height: 30px;
        background: transparent;
        margin: 10px;
        color: white;
      }

      button {
        padding: 0.35em 1.2em;
        border: 0.1em solid #FFFFFF;
        margin: 0 0.3em 0.3em 0;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        transition: all 0.2s;
      }
      button:hover{
        color:#FFFFFF;
        background-color:#282c34;
      }
    }
  }
}


